:root {
  --mainBG: #193779;
  --elementBlue: rgb(7, 0, 68);
  --darkBlock: #14213d;
  --lightBlock: #173470;
  --main-accent: #fca311;
  --silver: #e5e5e5;
  --red: #e84855;
}
* {
  margin: 0;
}
.App {
  text-align: center;
  background-color: var(--mainBG);
}

.chartBlock {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 100px;
}
.prob {
  width: 70%;
  margin: 0 auto;
  background: linear-gradient(0deg, var(--mainBG) 0%, var(--darkBlock) 92%);
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}
.probTitle h2 {
  color: var(--silver);
  padding: 40px 0 50px 0;
  font-size: 50px;
}
.probInput {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.numberInput {
  color: white;
}
.input {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  background-color: var(--lightBlock);
  border-radius: 50%;
  text-align: center;
  color: var(--silver);
  font-size: 24px;
}

.headerWrapper {
  height: 90vh;
  /* width: 100%; */
  display: grid;
  place-items: center;
}
.headerTitleWrapper {
  color: var(--silver);
  /* padding-top: 100px; */
}
.headerTitle {
  font-size: 70px;
}
.headerSubtitle {
  font-size: 20px;
}
.calsProbWrapper {
  margin-bottom: 100px;
}
.btn {
  cursor: pointer;
  background-color: var(--main-accent);
  color: white;
  display: inline-block;
  padding: 5px 20px;
  margin: 30px 5px;
}
.prediction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prediction h1 {
  font-size: 60px;
  margin: 50px 50px;
  color: var(--red);
}
.prediction p {
  color: var(--silver);
}
.totalAnalWrapper {
  width: 70%;
  margin: 0 auto;
  background: linear-gradient(0deg, var(--mainBG) 0%, var(--darkBlock) 92%);
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}
.totalAnalTitle h3 {
  color: var(--silver);
  padding: 40px 0 50px 0;
  font-size: 40px;
}
.footerWrapper {
  height: 100px;
}
.pieChart {
  margin: 0 auto;
}
.warning {
  color: var(--red);
}
@media screen and (max-width: 780px) {
  .input {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    font-size: 9px;
  }
  .prediction {
    font-size: 10px;
  }
  .prediction h1 {
    font-size: 20px;
    margin: 10px;
  }
}
@media screen and (max-width: 450px) {
  .input {
    /* width: 20px;
    height: 20px; */
    margin: 0 2px;
  }
  .numberInput p {
    font-size: 10px;
    margin: 0 3px;
  }
  .probInput {
    margin-bottom: 20px;
  }
  .probTitle h2 {
    padding: 40px 0 0px 0;
    font-size: 20px;
    margin-bottom: 40px;
  }
  .totalAnalTitle h3 {
    font-size: 20px;
  }
  .headerTitle {
    font-size: 36px;
  }
  .headerSubtitle {
    font-size: 10px;
  }
}
